.grid-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(30, auto);
}

.main-side {
    grid-column: 1/span 1;
    grid-row: 1/span 6;
    height: 30vh;
}
.aside-vids {
    background-color: rebeccapurple;
    grid-row: 7/span 15;
    grid-column: 1/span 1;
            height: 30vh;

}
.comments {
    background-color: greenyellow;
    grid-row: 22/span 9;
    grid-column: 1/span 1;        
    height: 30vh;

}

