@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    background-color: aquamarine;
}
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px ;
}

.grid-container {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: repeat(15, 200px);
    margin-top: 100px;
    padding-left: 1%;
    margin-bottom: 1%;
}

.main-side {
    grid-row: 1/span 6;
    grid-column: 1/span 1;
}
.aside-vids {
    background-color: rebeccapurple;
    grid-row: 1/span 15;
    grid-column: 2/span 1;
}
.comments {
    background-color: greenyellow;
    grid-row: 7/span 9;
    grid-column: 1/span 1;
}

@media screen and (max-width:620px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

.top-vid {
    height: 450px;
}
.top-vid video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.contents {
    padding: 12px;
}
.first-p {
    font-size: 20px;
    font-weight: 700;
}
.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-side {
    display: flex;
    align-items: center;
}
.image-side img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}
.image-side h5, .image-side p {
    margin: 0;
    padding-right: 10px;
}
.image-side h5 {
    font-size: 18px;
}
.image-side sub {
    font-size: 13px;
}
.image-side .sub-1 {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 35px;
    font-size: 15px;
    margin-right: 2px;
}
.likes-side {
    display: flex;
}
.likes-side i {
    font-size: 18px;
    margin-right: 5px;
}
.thumbs {
    background-color: rgb(209, 201, 201);
    border-radius: 35px;
    margin-inline: 7px;
    display: flex;
    padding-left: 12px;
}
.likes-side a {
    text-decoration: none;
    align-self: center;
    color: black;
}
.likes-side .txt {
    font-size: 13px;
    color: white;
    margin-right: 12px;
    align-self: center;
    font-weight: 700;
}
.likes-side .share {
    background-color: rgb(209, 201, 201);
    display: flex;
    border-radius: 35px;
    padding-left: 15px;
}
.ellipsis {
    background-color: rgb(209, 201, 201);
    margin-left: 7px;
    padding-inline: 12px;
    display: flex;
    border-radius: 50%;
}
.likes-side .fa-ellipsis-h {
    margin-right: 0;
    align-self: center;
}

.views {
    background-color: rgb(226, 230, 234);
    margin-top: 10px;
    border-radius: 15px;
}

.views article {
    font-size: 17px;
    padding: 12px;
}

.views .h-views {
    
}